<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Junction</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Final_Junction_Site.styles.css" asp-append-version="true" />
    
</head>
<style>
    .mynavbar {
        background-color: #6AA49B;
        height: 5%;
    }

    .nav-item {
        background-color: #5A8A83;
    }

    .nav-block {
        background-color: #5A8A83; @**@
    }

    .black-nav {
        color: black;
        font-weight: 600;
    }

    .border-item {
        border: 1px solid black;
    }
</style>
<body>
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Junction.Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@

        @* TESTING A NAV TYPE *@
        @*<ul class="nav justify-content-end border-bottom box-shadow mynavbar">
            <li class="nav-item border-item">
                @* <span><a class="nav-link active" asp-action="Index"><img src="Images/Junction_logo_fixed_ver_Green.png" /></a></span> *
                <a class="nav-link active black-nav" asp-action="Index">Home</a>
            </li>
            <li class="nav-item border-item">
                <a class="nav-link active black-nav">Active</a>
            </li>
            <li class="nav-item border-item">
                <a class="nav-link black-nav" href="#">Link</a>
            </li>
            @* <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> *
        </ul>*@

        <ul class="nav justify-content-end border-bottom box-shadow mynavbar">
            <li class="nav-block">
                <a class="nav-link active black-nav" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-block">
                <a class="nav-link active black-nav" asp-action="Index">Search Stores</a> @*Change asp-action to "Stores" View when created*@
            </li>
            <li class="nav-block">
                <a class="nav-link active black-nav" asp-controller="Account" asp-action="Register">Create Account</a>
            </li>
            <li class="nav-block">
                <a class="nav-link active black-nav" asp-controller="Account" asp-action="Login">Login</a>
            </li>
        </ul>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color: black">
            &copy; 2024 - Cyber Ospreys - <a asp-area="" asp-controller="Home" asp-action="Privacy">Copyright details</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
