<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Junction</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Final_Junction_Site.styles.css" asp-append-version="true" />
    
</head>
<style>
    .mynavbar {
        background-color: #6AA49B;
        height: 5%;
    }

    .nav-item {
        background-color: #5A8A83;
    }

    .nav-block {
        background-color: #5A8A83;
    }

    .black-nav {
        color: black;
        font-weight: 600;
    }

    .border-item {
        border: 1px solid black;
    }
</style>
<body>
    <header>
        <ul class="nav justify-content-end border-bottom box-shadow mynavbar">
            <li class="nav-block">
                <a class="nav-link active black-nav" asp-controller="Home" asp-action="Index">Home</a>
            </li>
             <li class="nav-block">
                <a class="nav-link active black-nav" asp-controller="SiteList" asp-action="ListSites">All Sites</a>
            </li> 
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-block">
                    <a class="nav-link active black-nav" asp-controller="Account" asp-action="Register">Create Account</a>
                </li>
                <li class="nav-block">
                    <a class="nav-link active black-nav" asp-controller="Account" asp-action="Login">Login</a>
                </li>
            }
            else
            {
                <li class="nav-block">
                    <a class="nav-link active black-nav" asp-controller="Account" asp-action="Details">@User?.Identity?.Name's Account</a>
                </li>
                <li class="nav-block">
                    <a class="nav-link active black-nav" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            }
        </ul>
        
    </header>
    <div class="container">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color: black">
            &copy; 2024 - Cyber Ospreys - <a asp-area="" asp-controller="Home" asp-action="Privacy">Copyright Details   |  </a> 
            <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
