@model Rating
<form asp-action="Edit" method="post">
	<input type="hidden" asp-for="RatingId" />

	<!--routingSiteId is used for controller-->
	<input type="hidden" name="routingSiteId" value=@ViewBag.SiteId />

	<!--saves siteId to Rating object-->
	<input type="hidden" asp-for="SiteId" value=@ViewBag.SiteId />


	<input type="hidden" asp-for="CustomerId" value=@ViewBag.CustomerId />

	<div class="form-group">
		<label asp-for="Stars"></label>
		<div><span asp-validation-for="Stars" class="text-danger"></span></div>
		<input asp-for="Stars" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="ReviewText"></label>
		<div><span asp-validation-for="ReviewText" class="text-danger"></span></div>
		<textarea asp-for="ReviewText" class="form-control"></textarea>
	</div>

	<div class="text-center">
		<button class="btn btn-primary" type="submit">Save</button>
		<a asp-action="Details" asp-controller="Site" asp-route-siteId=@ViewBag.SiteId class="btn btn-default">Cancel</a>
	</div>
</form>