@model Customer
<title>Account Details</title>
<div>
    <h3>Name: @Model.CustomerName</h3>
    <br />
    <h3>Email: @Model.CustomerEmail</h3>
    <br />
    <h3>Address: @Model.CustomerAddress</h3>

<form method="post" asp-action="EditPrefs">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="textSwitch" >
            <label class="form-check-label" for="textSwitch">Text Notifications</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="emailSwitch" >
        <label class="form-check-label" for="emailSwitch">Email Notifications</label>
    </div>
</form>
</div>
