@{
    ViewData["Title"] = "About Junction";
}
<h1>@ViewData["Title"]</h1>

<p>Junction is a company that resides within the e-commerce and online shopping markets, straddling the realms for both the business owner and the customer and providing for each. 
    For the seller, Junction provides a system that simplifies the creation of a virtual storefront. This makes it quick and easy for new or up-and-coming 
    businesses to get on their feet with a professional presentation.</p>

<p>For the customers, Junction provides a useful system for customers to search a database of products sold by e-commerce shops. 
    They are then provided a list of products based on the parameters of their search.</p>
    <br>
<i>Note: At this stage of development we are focused on the customer side of Junction (Junction.shop). The sellers side will be launched later during the year</i>
<br>

<h3>Business Vision and Mission</h3>
<p>Junction aims to simplify the online shopping experience for customers by making it easier for customers to find businesses producing the products being sought after. 
   Additionally, we strive to support budding entrepreneurs and small businesses in establishing their online presence and revenue generation</P>