@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Check out our <a asp-controller="Category" asp-action="CategoryProducts" asp-route-category="Electronics">Electronics Category</a></p>
    <p>Check out our <a asp-controller="Category" asp-action="CategoryProducts" asp-route-category="Jeans'n Stuff">!! Jeans'n Stuff !!</a></p>
    <p>Explore more with our <a asp-controller="SiteList" asp-action="ListSites">Site Listings</a></p>
</div>

@* <a onclick="location.href='<%: Url.Action("List", "SiteController") %>'">List</a> *@
<a asp-action="List">List</a>