@{
    ViewData["Title"] = "Copyright Details";
}
<h1>@ViewData["Title"]</h1>

<p>While the makeup of Junction.shop is our own, the pictures and websites linked within are not.</p>
<p>We do not assume ownership of any images within Junction, and assume no ownership of the content beyond the layout of the website.</p>
